{% extends 'ourapp/base.html' %}
{% block body %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Page not found</li>
    </ol>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Error 404 </h1>
    <p class="lead">The resource you tried to get was not found, try to check in later.</p>
   
  </div>
  <div class="alert alert-primary" role="alert">
    Perhaps you may go <a href="{% url 'ourapp:home' %}">Home Pages</a>
  </div>
  
  
{% endblock %}