{% extends 'ourapp/base.html' %}
{% block title%}
   About | UgandaFind
{% endblock %}
{% block body %}
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: justify;">
    <h1>All You Need To Know About UgandaFind</h1>
   <p><strong>Uganda<span color="blue">Find</span></strong>, is a free content internet web based research tool whose main goal is to enlighten, 
    inform and educate Ugandans about their country. The project seeks to gather, categorize, 
    condense and digitize all the information, events and outstanding personalities that have 
    helped shape Uganda from inception to date. </p>
    <p><strong>Ugandafind</strong>, project shall be hosted by a new company 
        called <strong>Media Research Bureau (u) ltd</strong>.</p>
       <h2>Our vision statement</h2> 
      <p>To organize the information in Uganda and make it acceptable in a useful way.</p> 
      <h2>Mission statement</h2>  
      <p>An online driving force from Uganda for Uganda to the rest of the world.</p> 
  <h2>Motto</h2>  <p> “AN ICON FOR THE PAST A BECKON FOR THE FUTURE”</p>
  <h2>THE PAIN WE ARE SOLVING</h2>
  
  <ul class="list-group">
      <li class="list-group-item"><p>Majority of Ugandans seem to be ignorant about their country. A lot of vital 
          information is scattered all over the places in corners that are unreachable by average Ugandans. 
          The project desires to attract and make value of all that information by having it shared amongst 
          all of us onto this web based system.</p></li>
      <li class="list-group-item"><p>With the turmoil that engulfed Uganda after independence in 1962 to 1986, 
          the country was hugely disintegrated and shattered in all aspects of life; socially, politically and 
          economically. During that period the country
           was disconnected from their past and lost direction for the future.</p></li>
      <li class="list-group-item"><p>The project desires to bridge the past to the present so as to regain the focus for the future.</p></li>
  </ul>

  <h2>OUR SOLUTION</h2>
  
  <ul class="list-group">
      <li class="list-group-item"><p>The project seeks to gather, categorize and digitize all the information, 
          events and personalities that have helped shape Uganda from inception to date in to a plethora of 
          information under 
          one umbrella on to a carefully constructed web based system.</p></li>
      <li class="list-group-item"><p>The project seeks to develop and promote the advancement of the 
          Ugandan local content on the World Wide Web. From plugging in to the system to using the tools 
          that will be available, training the masses, the support systems that will be available, 
          we are convinced that this is going to be the number one website in Uganda.</p></li>
      <li class="list-group-item"><p>With the proliferation of ICT technologies and the increase in the 
          literacy levels amongst average Ugandans coupled with the ramification ICT corporations that are 
          connecting many Ugandans to the internet; we expect 
          millions of Ugandans to quickly identify themselves with this project.</p></li>
      <li class="list-group-item"><p>The project looks forward to improving social contact; that is 
          being surrounded by individuals who will inspire one another towards their destiny thus helping 
          millions of Ugandans achieve astounding levels of success.</p></li>
      <li class="list-group-item"><p>The project desires to consolidate unity out of diversity through cultural 
          promotion and awareness which will build self-confidence, 
          empower people and give them back their lives.</p></li>
      <li class="list-group-item"><p>The project seeks to enhance the closer interaction between the private sector 
          and the public sector.</p></li>
      <!-- <li class="list-group-item"><p></p></li> -->
  </ul>
  </div>
  <div class="col-md-2"></div>
  
{% endblock %}

<style>
    .list-group-item p{
        background-color: deepskyblue !important;
    }
</style>